<section class="py-4 py-md-5 my-5" style="direction: rtl;">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-fluid w-100" src="assets/img/illustrations/login.svg">
            </div>
            <div class="col-md-5 col-xl-4 text-center text-md-end">
                <h2 class="display-6 fw-bold mb-5">
                    <span class="underline pb-1">
                        <strong>ورود</strong><br>
                    </span>
                </h2>
                <form method="post">
                    <div class="mb-3">
                        <input class="shadow form-control" type="email" name="email" placeholder="ایمیل">
                    </div>
                    <div class="mb-3">
                        <input class="shadow form-control" type="password" name="password" placeholder="رمز عبور">
                    </div>
                    <div class="mb-5">
                        <button class="btn btn-primary shadow" type="submit">ورود</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
