<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">ترکیب <span class="underline">علم و عمل</span>، ساختن آینده‌ای روشن</h1>
                    <p class="fs-5 text-muted mb-5">کار و دانش، کلید موفقیت</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><img class="img-fluid" src="assets/img/illustrations/meeting.svg" style="width: 800px;"></div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold text-end pb-md-4">هنرستان کار و دانش: جاده‌ای به سوی آینده‌ای پر رونق</h3>
            </div>
            <div class="col-md-6 pt-4">
                <p class="text-muted text-end mb-4">در هنرستان کار و دانش، علاوه بر آموزش تئوری، دانش‌آموزان با مهارت‌های عملی و فنی ضروری برای ورود به بازار کار آشنا می‌شوند، که این به آنها کمک می‌کند تا آماده به مواجهه با چالش‌های حرفه‌ای شوند و مسیری موفق را در آینده خود انتخاب کنند.</p>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
                <div>
                    <div class="row gy-2 row-cols-1 row-cols-sm-2 text-end">
                        <div class="col text-center text-md-end">
                            <div class="d-flex justify-content-center justify-content-md-start align-items-center">
                                <h5 class="fw-bold mb-0 me-2">آموزش عملی</h5>
                            </div>
                            <p class="text-muted my-3">هنرستان کار و دانش به دانش‌آموزان امکان می‌دهد تا در کنار درس‌های تئوری، مهارت‌های عملی و فنی را نیز به دست آورند، که این مهارت‌ها برای ورود به بازار کار بسیار حیاتی هستند.</p>
                        </div>
                        <div class="col text-center text-md-end">
                            <div class="d-flex justify-content-center justify-content-md-start align-items-center">
                                <h5 class="fw-bold mb-0 me-2">ارتباط صنعتی</h5>
                            </div>
                            <p class="text-muted my-3"> با برقراری ارتباط با صنایع مختلف، هنرستان کار و دانش می‌تواند به دانش‌آموزان خود فرصتی برای کسب تجربه عملی و شبکه‌سازی در حوزه‌های مختلف فراهم کند.</p>
                        </div>
                        <div class="col text-center text-md-end">
                            <div class="d-flex justify-content-center justify-content-md-start align-items-center">
                                <h5 class="fw-bold mb-0 me-2">توجه به نیازهای بازار کار</h5>
                            </div>
                            <p class="text-muted my-3">با تأکید بر آموزش مهارت‌هایی که در بازار کار مورد نیاز هستند، هنرستان کار و دانش می‌تواند به دانش‌آموزان کمک کند تا آماده و مسلط به شرایط واقعی کاری شوند.</p>
                        </div>
                        <div class="col text-center text-md-end">
                            <div class="d-flex justify-content-center justify-content-md-start align-items-center">
                                <h5 class="fw-bold mb-0 me-2">پیگیری مسیر حرفه‌ای</h5>
                            </div>
                            <p class="text-muted my-3">با ارائه مشاوره حرفه‌ای و پشتیبانی در انتخاب مسیر شغلی، هنرستان کار و دانش به دانش‌آموزان کمک می‌کند تا بهترین تصمیمات در زمینه حرفه و تحصیلی خود بگیرند.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/illustrations/teamwork.svg"></div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-primary border rounded border-0 border-primary overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white mb-3">سامانه پیش ثبت نام هنرجو</h2>
                        <p class="mb-4">"سامانه پیش ثبت نام هنرجو" یک پلتفرم آسان و کارآمد است که به هنرجوها این امکان را می‌دهد تا به راحتی و با دسترسی آسان، فرآیند ثبت نام خود را برای ورود به هنرستان آغاز کنند.</p>
                        <div class="my-3"><a class="btn btn-warning me-2 mt-2" role="button" href="/signup">ثبت نام</a></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-contain pt-5 pt-md-0" src="assets/img/illustrations/web-development.svg"></div>
            </div>
        </div>
    </div>
</section>