<section class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-4 mb-4">فرم ثبت نام هنرجو</h2>
                <p class="lead mb-4">هنرجوی عزیز، تکمیل این فرم به معنای پذیرش قطعی شما نیست و اطلاعات شما توسط هیأت آموزشی هنرستان بررسی خواهد شد و نتیجه‌ی ثبت نام متعاقبا اعلام خواهد شد.</p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <form class="p-3 p-xl-4">
            <!-- Student Information -->
            <h3 class="mb-4">اطلاعات شخصی هنرجو</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">نام</label>
                        <input class="shadow form-control" type="text" id="first_name" name="first_name" placeholder="نام خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="last_name" class="form-label">نام خانوادگی</label>
                        <input class="shadow form-control" type="text" id="last_name" name="last_name" placeholder="نام خانوادگی خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="national_code" class="form-label">کد ملی</label>
                        <input class="shadow form-control" type="text" id="national_code" name="national_code" placeholder="کد ملی خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="passport_serial" class="form-label">سریال شناسنامه</label>
                        <input class="shadow form-control" type="text" id="passport_serial" name="passport_serial" placeholder="سریال شناسنامه خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="father_name" class="form-label">نام پدر</label>
                        <input class="shadow form-control" type="text" id="father_name" name="father_name" placeholder="نام پدر خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">شماره تلفن</label>
                        <input class="shadow form-control" type="tel" id="phone_number" name="phone_number" placeholder="شماره تلفن خود را وارد کنید" pattern="[0-9]{10,15}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="birth_date" class="form-label">تاریخ تولد</label>
                        <input class="shadow form-control" type="text" id="birth_date" name="birth_date" placeholder="تاریخ تولد خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="birth_city" class="form-label">شهر تولد</label>
                        <input class="shadow form-control" type="text" id="birth_city" name="birth_city" placeholder="شهر تولد خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="religion" class="form-label">دین</label>
                        <select class="shadow form-control" id="religion" name="religion" required>
                            <option value="">انتخاب دین</option>
                            <option value="اسلام">اسلام</option>
                            <option value="مسیحیت">مسیحیت</option>
                            <option value="یهودیت">یهودیت</option>
                            <option value="هندوئیسم">هندوئیسم</option>
                            <option value="بودیسم">بودیسم</option>
                            <option value="سایر">سایر</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="physical_condition" class="form-label">وضعیت فیزیکی</label>
                        <select class="shadow form-control" id="physical_condition" name="physical_condition" required>
                            <option value="">انتخاب وضعیت فیزیکی</option>
                            <option value="سالم">سالم</option>
                            <option value="دارای معلولیت">دارای معلولیت</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" id="left_handed" name="left_handed">
                        <label class="form-check-label" for="left_handed">چپ دست</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" id="is_international" name="is_international">
                        <label class="form-check-label" for="is_international">دانشجوی بین‌المللی</label>
                    </div>
                </div>
            </div>
            <hr class="w-25 mx-auto mb-4 border-dark">
            <!-- Family Information -->
            <h3 class="mb-4">اطلاعات خانوادگی هنرجو</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="father_education" class="form-label">تحصیلات پدر</label>
                        <input class="shadow form-control" type="text" id="father_education" name="father_education" placeholder="تحصیلات پدر خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="mother_education" class="form-label">تحصیلات مادر</label>
                        <input class="shadow form-control" type="text" id="mother_education" name="mother_education" placeholder="تحصیلات مادر خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="father_phone_number" class="form-label">شماره تلفن پدر</label>
                        <input class="shadow form-control" type="tel" id="father_phone_number" name="father_phone_number" placeholder="شماره تلفن پدر خود را وارد کنید" pattern="[0-9]{10,15}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="mother_phone_number" class="form-label">شماره تلفن مادر</label>
                        <input class="shadow form-control" type="tel" id="mother_phone_number" name="mother_phone_number" placeholder="شماره تلفن مادر خود را وارد کنید" pattern="[0-9]{10,15}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="student_lives_with" class="form-label">محل سکونت</label>
                        <select class="shadow form-control" id="student_lives_with" name="student_lives_with">
                            <option value="">محل سکونت</option>
                            <option value="والدین">والدین</option>
                            <option value="مادرخوانده و پدر">مادرخوانده و پدر</option>
                            <option value="پدرخوانده و مادر">پدرخوانده و مادر</option>
                            <option value="پدربزرگ و مادربزرگ">پدربزرگ و مادربزرگ</option>
                            <option value="بقیه">بقیه</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="home_address" class="form-label">آدرس منزل</label>
                        <input class="shadow form-control" type="text" id="home_address" name="home_address" placeholder="آدرس منزل خود را وارد کنید">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="home_phone" class="form-label">شماره تلفن منزل</label>
                        <input class="shadow form-control" type="tel" id="home_phone" name="home_phone" placeholder="شماره تلفن منزل خود را وارد کنید" pattern="[0-9]{8,11}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="emergency_phone_number" class="form-label">شماره تلفن اضطراری</label>
                        <input class="shadow form-control" type="tel" id="emergency_phone_number" name="emergency_phone_number" placeholder="شماره تلفن اضطراری خود را وارد کنید" pattern="[0-9]{10,15}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="number_of_family_members" class="form-label">تعداد اعضای خانواده</label>
                        <input class="shadow form-control" type="number" id="number_of_family_members" name="number_of_family_members" placeholder="تعداد اعضای خانواده را وارد کنید" required>
                    </div>
                </div>
            </div>
            <hr class="w-25 mx-auto mb-4 border-dark">
            <!-- Education Information -->
            <h3 class="mb-4">اطلاعات تحصیلی هنرجو</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="grade_avg" class="form-label">معدل</label>
                        <input class="shadow form-control" type="text" id="grade_avg" name="grade_avg" placeholder="معدل خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="math_mark" class="form-label">نمره ریاضی</label>
                        <input class="shadow form-control" type="text" id="math_mark" name="math_mark" placeholder="نمره ریاضی خود را وارد کنید" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field_choice_1" class="form-label">گزینه اول رشته</label>
                        <select class="shadow form-control" id="field_choice_1" name="field_choice_1" required>
                            <option value="">انتخاب گزینه اول رشته</option>
                            <option value="آسانسور">آسانسور</option>
                            <option value="صنایع چوب">صنایع چوب</option>
                            <option value="مکانیک خودرو">مکانیک خودرو</option>
                            <option value="برق صنعتی">برق صنعتی</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field_choice_2" class="form-label">گزینه دوم رشته</label>
                        <select class="shadow form-control" id="field_choice_2" name="field_choice_2" required>
                            <option value="">انتخاب گزینه دوم رشته</option>
                            <option value="آسانسور">آسانسور</option>
                            <option value="صنایع چوب">صنایع چوب</option>
                            <option value="مکانیک خودرو">مکانیک خودرو</option>
                            <option value="برق صنعتی">برق صنعتی</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field_choice_3" class="form-label">گزینه سوم رشته</label>
                        <select class="shadow form-control" id="field_choice_3" name="field_choice_3" required>
                            <option value="">انتخاب گزینه سوم رشته</option>
                            <option value="آسانسور">آسانسور</option>
                            <option value="صنایع چوب">صنایع چوب</option>
                            <option value="مکانیک خودرو">مکانیک خودرو</option>
                            <option value="برق صنعتی">برق صنعتی</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <!-- Submit Button -->
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary shadow d-block w-100" type="submit">ایجاد دانشجو</button>
                </div>
            </div>
        </form>
    </div>
</section>
