    
    <ul class="mt-6">
        <li class="item-li py-2 px-4 flex items-center">
            <span class="mr-3">๐</span> <!-- Example icon -->
            <a href="/admin/" class="flex items-center">
                <span>ูพุดุฎูุงู</span>
            </a>
        </li>
        <li class="item-li py-2 px-4 flex items-center">
            <span class="mr-3">๐ฅ</span> <!-- Example icon -->
            <a href="/admin/user/list" class="flex items-center">
                <span>ฺฉุงุฑุจุฑุงู</span>
            </a>
        </li>
        <li class="item-li py-2 px-4 flex items-center">
            <span class="mr-3">๐</span> <!-- Example icon -->
            <a href="/admin/student/list" class="flex items-center">
                <span>ุฏุงูุดโุขููุฒุงู</span>
            </a>
        </li>
        <!-- Uncomment below to show additional menu items -->
        <!--
        <li class="item-li i-courses py-2 px-4 flex items-center">
            <a href="courses.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ุฏูุฑู ูุง</span>
            </a>
        </li>
        <li class="item-li i-categories py-2 px-4 flex items-center">
            <a href="categories.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ุฏุณุชู ุจูุฏ ูุง</span>
            </a>
        </li>
        <li class="item-li i-banners py-2 px-4 flex items-center">
            <a href="banners.html" class="flex items-center">
                <span class="mr-3">๐ข</span>
                <span>ุจูุฑ ูุง</span>
            </a>
        </li>
        <li class="item-li i-articles py-2 px-4 flex items-center">
            <a href="articles.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ููุงูุงุช</span>
            </a>
        </li>
        <li class="item-li i-ads py-2 px-4 flex items-center">
            <a href="ads.html" class="flex items-center">
                <span class="mr-3">๐ข</span>
                <span>ุชุจูุบุงุช</span>
            </a>
        </li>
        <li class="item-li i-comments py-2 px-4 flex items-center">
            <a href="comments.html" class="flex items-center">
                <span class="mr-3">๐ฌ</span>
                <span>ูุธุฑุงุช</span>
            </a>
        </li>
        <li class="item-li i-tickets py-2 px-4 flex items-center">
            <a href="tickets.html" class="flex items-center">
                <span class="mr-3">๐๏ธ</span>
                <span>ุชฺฉุช ูุง</span>
            </a>
        </li>
        <li class="item-li i-discounts py-2 px-4 flex items-center">
            <a href="discounts.html" class="flex items-center">
                <span class="mr-3">๐ธ</span>
                <span>ุชุฎูู ูุง</span>
            </a>
        </li>
        <li class="item-li i-transactions py-2 px-4 flex items-center">
            <a href="transactions.html" class="flex items-center">
                <span class="mr-3">๐ณ</span>
                <span>ุชุฑุงฺฉูุด ูุง</span>
            </a>
        </li>
        <li class="item-li i-checkouts py-2 px-4 flex items-center">
            <a href="checkouts.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ุชุณูู ุญุณุงุจ ูุง</span>
            </a>
        </li>
        <li class="item-li i-checkout__request py-2 px-4 flex items-center">
            <a href="checkout-request.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ุฏุฑุฎูุงุณุช ุชุณูู</span>
            </a>
        </li>
        <li class="item-li i-my__purchases py-2 px-4 flex items-center">
            <a href="mypurchases.html" class="flex items-center">
                <span class="mr-3">๐๏ธ</span>
                <span>ุฎุฑุฏ ูุง ูู</span>
            </a>
        </li>
        <li class="item-li i-my__peyments py-2 px-4 flex items-center">
            <a href="mypeyments.html" class="flex items-center">
                <span class="mr-3">๐ณ</span>
                <span>ูพุฑุฏุงุฎุช ูุง ูู</span>
            </a>
        </li>
        <li class="item-li i-notification__management py-2 px-4 flex items-center">
            <a href="notification-management.html" class="flex items-center">
                <span class="mr-3">๐</span>
                <span>ูุฏุฑุช ุงุทูุงุน ุฑุณุงู</span>
            </a>
        </li>
        <li class="item-li i-user__inforamtion py-2 px-4 flex items-center">
            <a href="user-information.html" class="flex items-center">
                <span class="mr-3">๐ค</span>
                <span>ุงุทูุงุนุงุช ฺฉุงุฑุจุฑ</span>
            </a>
        </li>
        -->
    </ul>
